@media(max-width: 1400px){
	.present-text {
    width: 33%;
    margin-left: 22px;
    margin-right: 29px;
    margin-top: 21px;
	}
	ul.media {
    padding: 50px 50px;
	}
	.logo p {
    width: 91%;
  }
	.our-admin {
    margin-bottom: 30px;
    margin-top: 20px;
	}
	.page-not-found img.shaps-1 {
    width: 29%;
	}
	.our-blog.blog-two .admin-name {
    margin-top: 14px;
    margin-bottom: 10px;
	}
  .hero-section-one {
    padding-bottom: 30px;
    padding-bottom: 30px;
	}
	.hero-img img {
    width: 77%;
	}
	.shapsdiv {
    right: -12%;
	}
	footer.three {
    position: relative;
    margin-top: -34px;
	}
	.error form {
		margin-bottom: 0;
	}
	.error h2 {
    font-size: 220px;
    line-height: 137px;
  }
	#progress {
    height: 50px;
    width: 50px;
  }
	.sidebar {
    padding: 30px;
  }
	.menu-end a {
    font-size: 16px;
    margin-left: 12px;
	}
	.history-text {
    width: 96%;
	}
	.banner-text h2 {
    font-size: 50px;
  }
  .banner img.shaps-2 {
    width: 29%;
	}
	.blog-two h3 a {
    font-size: 36px;
    line-height: 46px;
  }
  .tag a {
    padding: 14px 17px;
  }
	.team-section.two .team-details h3 {
    font-size: 26px;
	}
	.recent-post a {
    font-size: 16px;
  }
	.present-text {
    width: 33%;
    margin-left: 22px;
    margin-right: 29px;
    margin-top: 21px;
	}
	.hero-section-one.two img.shaps-1 {
    width: auto;
	}
  .hero-text h1 {
    font-size: 60px;
	}
	ul.social-icon i {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  .team-details {
    padding: 36px 36px;
  }
	.hero-section-one img.shaps-1 {
    width: 28%;
	}
	.services i:after {
    width: 100px;
    height: 100px;
    z-index: 0;
	}
	.team-details:before {
    width: 295px;
    height: 380px;
  }
  .pricing h3 {
    font-size: 44px;
  }
  .team-details h3 {
    font-size: 30px;
  }
  .pricing img.pricing-shap {
    top: -48%;
    left: -28%;
	}
	footer.two .get-in-touch {
    width: 86%;
    margin: auto;
	}
	.section-contact img.shaps-1 {
    width: 8%;
	}
	.section-contact img.shaps-3 {
    width: 25%;
	}
	.section-contact:after {
    left: -28%;
  }
  .navbar-links li.navbar-dropdown .dropdown a {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .ready-to.two:after {
    left: -21%;
  }
  .hero-section-one.two img.shaps-1 {
    width: 9%;
	}
  .ready-to.two {
    padding: 100px 0;
  }
	footer.two img.shaps-1 {
    width: 10%;
    bottom: 9%;
    left: -5%;		
	}
	.heading.two {
    position: relative;
    z-index: 1;
	}
	.count-time {
    width: 236px;
    height: 236px;
  }
	.pricing ul.list-style {
    padding-top: 100px;
  }
	.services i:before {
    width: 114px;
    height: 114px;
    z-index: 0;
	}
	.services i {
    margin-right: 8px;
  }
	.heroman img {
    width: 70%;
	}
	.navbar-links li > a {
    font-size: 14px;
	}
	.navbar-links li {
    padding: 20px 17px;
	}
	ul.client-info li:not(:last-child) {
    padding-bottom: 10px;
	}
	h2 {
		font-size: 46px;
	}
	.hero-section-one:after {
    right: -91%;
    top: -52%;
	}
	.hero-section-one .shapsdiv {
    right: -22%;
    top: 39%;
	}
	.ready-to:after {
    width: 440px;
    height: 440px;
    left: -25%;
    bottom: 0;
	}
	.ready-to img.shaps-1 {
    width: 26%;
	}
	.blog h6 {
    bottom: 50%;
  }
	.ready-to img.shaps-2 {
    width: 8%;
	}
	.blog a, .blog-two a {
    font-size: 22px;
    line-height: 32px;
  }
	.work-consulting a {
    font-size: 26px;
  }
  footer img.shaps-1 {
    width: 27%;
  }
  footer img.shaps-2 {
    width: 29%;
  }
	.reviews p {
    font-size: 26px;
    line-height: 40px;
    width: 95%;
    padding-top: 120px;
	}
	.reviews {
    padding: 0px 60px;
    padding-bottom: 40px;
  }
  .section-contact .heading.two {
 	   width: 74%;
	}
	.business-soluton {
    width: 84%;
	}
	.business-soluton .social-icon {
    margin-bottom: 40px;
	}
	.banner {
    padding-top: 220px;
    padding-bottom: 80px;	
	}
  .present-text {
    margin-top: 21px;
	}
	.hero-section-one.two .shapsdiv {
    right: -22%;
	}
	h6 {
    font-size: 16px;
	}
	.video-home {
    right: 8%;
	}
	.widget-title li a {
    margin-left: 9px;
  }
	.accordion.two .title {
    font-size: 24px;
  }
	.services a {
    font-size: 22px;
  }
	.consulting i img {
    width: 44%;
	}
	.consulting i {
    width: 120px;
    height: 120px;
  }
	.consulting {
    padding: 33px;
  }
	p {
		font-size: 16px;
	}
	h3 {
    font-size: 24px;
	}
	.heading h2 {
    font-size: 46px;
  }
}
@media(max-width: 1200px){
	.gap {
    padding: 100px 0;
	}
	.no-top{
	    padding-top: 0;
	}
	.no-bottom{
	    padding-bottom: 0;
	}
	.hero-section-one.two .swiper-heroone {
    padding-bottom: 0;
	}
	.hero-section-one {
    padding-top: 100px;
  }
	.page-not-found {
    padding-top: 140px;
    padding-bottom: 100px;
  }
  .bottom-bar {
    padding-top: 10px;
    padding-bottom: 10px;
	}
  .swiper-heroone {
    touch-action: pan-y;
    padding-bottom: 30px;
	}
	.hero-section-one:after {
		display: none;
	}
	.bar-menu i {
		color: #fff;
	}
	header.two .bar-menu i {
    color: #000;
	}
	ul.instagram-posts img {
    height: 62px;
   }
  .page-not-found img.shaps-2 {
   width: 10%;
	}
	.present-img {
    width: 38%;
	}
	.team-details-text {
    margin-left: 10px;
	}
	ol.breadcrumb li a, ol.breadcrumb li.breadcrumb-item.active {
    font-size: 16px;
  }
	.banner img.shaps-2 {
		display: none;
	}
	.banner {
    padding-top: 160px;
    padding-bottom: 80px;
	}
	.ready-to:after {
    width: 340px;
    height: 340px;
  }
	.reviews {
    flex-wrap: wrap;
	}
	.ready-to.two:after {
    left: -27%;
	}
	.ready-to img.shaps-3 {
    left: 7%;
    top: 6%;
	}
	.reviews span {
    margin-bottom: 31px;
    display: block;
  }
	.shapsdiv svg {
    width: 600px;
    height: 600px;
    right: 22%;
	}
	.hero-section-one.two {
    padding-top: 120px;
    padding-bottom: 80px;
    z-index: 11;
	}
	header.two {
		background-color: #fff;
	}
	header.two .bottom-bar-text:before {
		display: none;
	}
	.hero-section-one.two .shapsdiv {
   		top: auto;
    right: -27%;
    bottom: -28%;
	}
	.team-details img {
    width: 46%;
	}
	.team-details:before {
    width: 195px;
    height: 280px;
	}
	.team-details p {
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 12px;
	}
	.team-details h3 {
    font-size: 24px;
	}
	.section-contact .heading.two {
    width: 81%;
	}
	.section-contact:after {
    left: -31%;
	}
	.pricing {
    padding: 30px;
  }
	.team-details {
    padding: 30px;
	}
	.pricing img.pricing-shap {
    top: -29%;
    left: -17%;
    width: 121%;
	}
	h2 {
		font-size: 40px;
	}
	.widget-title li a {
    margin-left: 12px;
    font-size: 14px;
	}

	.bar-menu {
    display: block;
  }
  .navbar,.boder-nav,.top-bar-slid {
  	display: none;
  }
  .services {
    padding: 30px;
  }
  ul.client-info li h4, ul.client-info li h5 {
    font-size: 14px;
  }
  ul.client-info li h4 {
    left: 22%;
	}
	.work-consulting {
    width: 83%;
  }
  .heading h2 {
    font-size: 40px;
	}
}
@media(max-width: 993px){
	.consulting {
    margin-bottom: 20px;
	}
	.error {
    width: 88%;
  }
  form.leave {
    margin-bottom: 40px;
	}
	.team-details.pages:before {
    width: 340px;
    height: 310px;
  }
  .hero-section-one .shapsdiv {
    top: 66%;
	}
  .hero-text {
    padding-top: 30px;
	}	
  .mobile-nav {
		width: 50%;
	}
  .hero-img img {
    width: auto;
    margin-top: 30px;
	}
	.hero-section-one {
    padding-top: 140px;
  }
  .error h3 {
    font-size: 30px;
  }
  .page-not-found {
    padding-top: 140px;
    padding-bottom: 130px;
	}
  footer.three {
    margin-top: -60px;
	}
  .error form {
    margin-top: 20px;
	}
  .error h2 {
    font-size: 140px;
    line-height: 75px;
	}
  .contact-text p {
    padding-bottom: 20px;
	}
	.contact-text a {
    width: fit-content;
    padding-right: 40px;
	}
	.contact-text {
		margin-bottom: 30px;
	}
	.hero-section-one img.shaps-2 {
		display: none;
	}
	.shapsdiv {
    right: -21%;
    bottom: -15%;
    top: auto;
	}
  .get-in-touch.two {
    margin-bottom: 30px;
	}
	.map iframe {
    height: 300px;
  }
  ul.instagram-posts img {
    height: auto;
    width: 100%;
	}
	ul.pagenashion-number {
    margin-bottom: 30px;
  }
  .present {
    flex-wrap: wrap;
	}
	.present-text {
    width: 60%;
  }
  .history-text {
    width: 100%;
    margin-bottom: 40px;
	}
	.present-img {
    margin-top: 26px;
    width: 100%;
	}
	.ready-to.two:after {
    left: -37%;
    top: auto;
    bottom: 0;
	}
	.service-detail-img img {
    width: 100%;
	}
	.heading-samll h4 {
		padding-top: 0;
	}
	.icon-team-details {
		flex-wrap: wrap;
	}
	.team-details.pages {
    padding: 40px 40px;
    flex-wrap: wrap;
	}
	.team-details.pages img {
    width: 100%;
    margin-bottom: 30px;
	}
	.icon-team-details .get-in-touch {
    width: 50%;
	}
	.service-detail-img img.shaps-2 {
    top: -2%;
    width: auto;
	}
	.service-detail h3 {
    padding-top: 20px;
  }
	.heading-samll h4 {
    font-size: 24px;
  }
	.service-detail .list-style {
    margin-bottom: 30px;
	}
	.section-contact:after,.section-contact img.shaps-2 {
		display: none;
	}
	.pricing {
    margin-bottom: 30px;
	}
	.heading-samll h4 {
    padding-bottom: 20px;
	}
	.consultation {
		background-position: top;
	}
	.heroman img {
    margin-top: 40px;
    width: 55%;
	}
	.ready-to.two:after {
    left: -35%;
    top: auto;
    bottom: 0;
	}
	.mscs-scaled {
    width: 100%;
  }
  footer.two .get-in-touch {
    margin-bottom: 20px;
	}
	.expert-text {
    padding-top: 30px;
	}
	.services-img figure img {
    width: 100%;
    margin-bottom: 20px;
	}
	.blog-two {
    margin-bottom: 30px;
	}
	form.Contact-form {
    margin-bottom: 0px;
    margin-top: 30px;
	}
	.heading.two {
    width: 100%;
	}
	footer.two .logo {
    margin: auto;
    width: 71%;
	}
	.section-contact {
    background-position: top;
	}
	ul.client-info li h4 {
    left: 33%;
	}
	.count-time.one {
    margin-top: 20px;
	}
	.count-time-center {
    margin-top: 100px;
	}
	.pricing img.pricing-shap {
    top: -39%;
    left: -18%;
    width: 119%;
	}
	.pricing ul.list-style {
    padding-top: 60px;
	}
	.who-we-are {
    margin-bottom: 50px;
	}
	.view-all {
    margin-top: 50px;
	}
	.mscs-scaled .count-text {
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 30px;
	}
	.consultation {
    flex-wrap: wrap;
    width: 100%;
	}
	.mt-100 {
    margin-top: 60px;
	}
	.subscribe form {
    width: 100%;
     margin-top: 24px;
	}
	.footer-bottom-text h6 {
    font-size: 14px;
    padding-bottom: 10px;
	}
	.ordering {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	}
	.footer-bottom-text {
		display: block;
		text-align: center;
    flex-wrap: wrap;
    justify-content: center;
	}
	.subscribe {
		flex-wrap: wrap;
	}
	.logo p {
    padding-bottom: 26px;
	}
	.swiper.swiperimg {
		position: relative;
		right: 0;
		top: 0;
	}
	.work-consulting {
    width: 100%;
	}	
	.consultation {
    padding: 30px;
	}
	form.Contact-form {
    margin-bottom: 30px;
	}
	.blog {
    margin-bottom: 30px;
	}
	.heading p {
    padding-top: 12px;
    padding-bottom: 0;
	}	
	.client-detail {
    margin-top: 30px;
	}
	.accordion.two .title {
    font-size: 26px;
	}
	.icon-team-details {
    margin-bottom: 40px;
	}
}
@media(max-width: 768px){
	.gap {
    padding: 80px 0;
	}
	.no-top{
	    padding-top: 0;
	}
	.no-bottom{
	    padding-bottom: 0;
	}
	.p-100 {
    padding-top: 80px;
	}
	.hero-img img {
    width: 100%;
  }
	.quote-color {
    padding: 32px;
  }
  .comment li img {
    margin-right: 14px;
	}
	.comment-data h4 {
    font-size: 20px;
  }
	.pagenashion-number a.pagenashion {
    height: 60px;
    width: 70px;
  }
  .comment-data span {
    font-size: 12px;
  }
  .comment h3 {
    font-size: 26px;
  }
	.blog-two h3 a {
    font-size: 34px;
    line-height: 44px;
	}
	.history-img {
    margin-top: 20px;
		}
	.present-text {
    width: 100%;
    margin-left: 0;
	}
	.present img {
		width: 100%;
	}
	.icon-team-details .get-in-touch {
    	width: 100%;
    }
	.banner img.shaps-1 {
    top: 32%;
    left: auto;
    right: 11%;
    width: 14%;
	}
	.reviews img {
    margin-left: 0;
    width: 100%;
    height: auto;
	}
	.banner:after {
    bottom: -6%;
    right: -64%;
  }
	.banner-text h2 {
    font-size: 40px;
	}
	.reviews-img img.quotation {
		width: auto;
	}
	.reviews-img i {
    left: 0%;
  }
	.ready-to.two {
    padding: 60px 0;
	}
	.heading h2 {
    font-size: 30px;
	}
	.reviews {
    padding: 0px 28px;
    padding-bottom: 40px;
	}
	.ready-to:after {
		display: none;
	}
	.pricing img.pricing-shap {
    top: -75%;
    left: -18%;
    width: 119%;
	}
	.pricing ul.list-style {
    padding-top: 100px;
	}
	.swiper-backface-hidden .swiper-slide {
    text-align: center;
	}
	.work-consulting {
    padding: 20px 30px;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
	}
  .work-consulting img {
    padding-right: 10px;
    width: 16%;
	}
	.work-consulting .button {
    margin-top: 10px;
	}
	h2 {
		font-size: 32px;
	}
	.widget-title .boder {
    margin-bottom: 30px;
	}
	.widget-title li:not(:last-child) {
    padding-bottom: 12px;
	}
	.widget-title h3 {
    font-size: 20px;
    margin-top: 26px;
	}
	.swiper.swiperimg {
    width: 100%;
    height: auto;
   }		
	.heading {
		width: 100%;
	}
	.blog h6 {
    bottom: 34%;
	}
}
@media(max-width: 556px){
	.gap {
    padding: 60px 0;
	}
	.no-top{
	    padding-top: 0;
	}
	.no-bottom{
	    padding-bottom: 0;
	}
	.p-100 {
    padding-top: 60px;
	}
	.mobile-nav,footer.two .logo {
		width: 100%;
	}
	.hero-text h1 {
    font-size: 46px;
	}
	.progressbar h6 {
    font-size: 12px;
	}
	.hero-section-one:after,.hero-section-one img.shaps-1 {
		display: none;
	}
	.team-details.pages {
    padding: 40px 20px;
    flex-wrap: wrap;
	}
	.hero-img img {
    width: 90%;
	}
	.progressbar h5 {
    font-size: 36px;
    padding-right: 10px;
    font-weight: 900;
	}
	.accordion-section img.shaps-2 {
		display: none;
	}
	.pricing img.pricing-shap {
		display: none;
	}
	.pricing:before {
    content: "";
    position: absolute;
    background-color: #4646b5;
    top: 0;
    left: 0;
    width: 100%;
    height: 38%;
    z-index: -1;
	}
	.pricing img.pricing-shap {
    top: -70%;
    left: -18%;
    width: 119%;
	}
	.team-details img {
    width: 38%;
	}
	.ordering .line {
	  display: block;
	  width: 1px;
	  height: 12px;
	  background: #fff;
	  margin: 0px 10px;
	}
	.heroman img {
    width: 100%;
	}
	.hero-section-one.two .shapsdiv {
    right: -48%;
    bottom: -32%;
	}
	footer img.shaps-3 {
		display: none;
	}
	.heading span:before {
    height: 4px;
  }
	.subscribe form {
    flex-wrap: wrap;
  }
  .blog h6 {
    bottom: 37%;
	}
  .consultation h2 {
    font-size: 30px;
  }
  .subscribe form input {
  	margin-bottom: 10px;
  }
  .subscribe h3 {
    font-size: 24px;
  }
  .subscribe i {
    font-size: 50px;
  }
}
@media(max-width: 500px){
	.count-time {
	    width: 200px;
	    height: 200px;
	}
	.hero-section-one .shapsdiv {
    right: -49%;
    top: 65%;
	}
	.banner {
    padding-top: 120px;
    padding-bottom: 40px;
	}
	.hero-section-one .shapsdiv {
    right: -68%;
    bottom: -25%;
    top: auto;
	}
	.consultation.two {
    padding: 30px;
    width: 100%;
	}
	.service-detail h3 {
    font-size: 30px;
  }
	header.two .bottom-bar-text a img {
    width: 80%;
	}
	header.two .bottom-bar-text a
	.shapsdiv {
    right: -79%;
    bottom: -21%;
    top: auto;
	}
	.count-time h2, .count-time span {
    font-size: 50px;
  }
  .consultation.two form.Contact-form {
    margin-bottom: 0px;
	}
	input,.nice-select.Advice {
    margin-bottom: 10px;
	}
  .comment li {
    flex-wrap: wrap;
  }
  .posted-in li a {
    font-size: 13px;
  }
  .posted h5 {
    font-size: 15px;
  }
  li.reply-comment {
    margin-left: 0;
    width: 100%;
	}
	.video i {
    width: 60px;
    height: 60px;
  }
  .posted {
    height: 60px;
    padding-left: 32px;
    margin-top: 45px;
  }
  ol.breadcrumb li a, ol.breadcrumb li.breadcrumb-item.active {
    font-size: 14px;
  }
  .business-soluton h3 {
    font-size: 32px;
  }
  ul.media {
    padding: 30px 30px;
	}
}
@media(max-width: 450px){
	.blog h6 {
    bottom: 51%;
	}
	.bottom-bar-text a img {
    width:80%;
	}
	.blog-two h3 a {
    font-size: 28px;
    line-height: 38px;
	}
	.pagenashion-number a {
    height: 30px;
    width: 30px;
  }
  .hero-section-one {
    padding-top: 100px;
	}
  .our-admin a {
    font-size: 18px;
    width: 50px;
    height: 50px;
    font-size: 18px;
	}
	.present a {
    font-size: 22px;
    line-height: 32px;
	}	
	.blog-two > span {
    font-size: 12px;
	}
	.present span {
		margin-top: 0;
	}
	.pagenashion-number a.pagenashion {
    height: 50px;
    width: 50px;
    font-size: 12px;
	}
	.banner-text h2 {
    font-size: 32px;
	}
	.count-time {
    width: 170px;
    height: 170px;
	}
	.count-time p {
    font-size: 13px;
	}
	.count-time h2, .count-time span {
    font-size: 46px;
	}
	.pricing ul.list-style {
    padding-top: 60px;
	}
	.team-details {
    flex-wrap: wrap;
  }
	.video-home {
		display: none;
	}
	.hero-text h1 {
		font-size: 40px;
	}

	.accordion.two .title {
    font-size: 20px;
	}
	.team-details img {
    width: 100%;
    margin-bottom: 22px;
	}
	.accordion.two .title h6 {
    padding-bottom: 7px;
    font-size: 14px;
	}
	ul.client-info li h4 {
    left: 44%;
	}
	.expert-img img.expert-1 {
		display: none;
	}
	.heading h2 {
    font-size: 26px;
	}
	.quote-color {
    flex-wrap: wrap;
  }
  .quote-color i {
    margin-right: 0;
    margin-bottom: 20px;
	}
	.error {
    width: 100%;
	}
}
@media(max-width: 410px){
.hero-section-one.two .shapsdiv {
    right: -99%;
    bottom: -32%;
	}
	.hero-section-one .shapsdiv {
    right: -93%;
    bottom: -31%;
	}
	.services {
    flex-wrap: wrap;
	}
	.breadcrumb-item+.breadcrumb-item::before {
    padding-left: 2px;
    padding-right: 10px;
	}
	footer.three {
    margin-top: -90px;
	}
	.page-not-found {
    padding-bottom: 160px;
	}
	.error h3 {
    font-size: 22px;
	}
	.error h2 {
    font-size: 120px;
    line-height: 75px;
	}
	ul.features li {
    font-size: 16px;
  }
	.ready-to img.shaps-3 {
		display: none;
	}
	.work-consulting a {
    font-size: 22px;
	}
	h2 {
    font-size: 28px;
	}
	.comment h3 {
    font-size: 22px;
	}
	.pricing h3 {
    padding-top: 20px;
  }
  .pricing:before {
    height: 33%;
  }
  .count-time {
    width: 150px;
    height: 150px;
	}
	ol.breadcrumb li a, ol.breadcrumb li.breadcrumb-item.active {
    font-size: 12px;
  }
	.count-time h2, .count-time span {
    font-size: 38px;
	}
	.service-detail h3 {
    font-size: 26px;
  }
  .business-soluton h3 {
    font-size: 28px;
  }
}